body {
	font-family: 'poppins';
	text-align: center;
	align-items: center;
	background: #66ff99;
}

h1 {
	text-align: center;
}

canvas {
	background: #ffffff;
	margin: 10px 0 10px 19%;
	display: block;
	border: 3px solid black;
	border-radius: 10px;
	cursor: url("https://img.icons8.com/metro/26/000000/pencil.png"), auto;
}

button {
	background: white;
	margin: 0 30px;
	border: 2px solid black;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	font-size: 20px;
}

#color-sliders {
	display: flex;
	margin: 0 0 0 20%;
}

#color-sliders input {
	width: 10%;
}

#color-sliders p {
	margin: 0 80px 0 20px;
}

#current-color {
	background: black;
	width: 20px;
	border-radius: 50%;
	border: 2px solid black;
}

